@import "tailwindcss";

:root {
  --primary: #4f46e5;
  --secundary: #7c3aed;
  --surface: #efefef;
  --background: #f8fafc;
  --text: #000;
}

.dark {
  --primary: #6366f1;
  --surface: #1e293b;
  --background: #0f172a;
  --text: #fff;
  --text-secundary: #94a3b8;
}

body {
  background: var(--background);
  color: var(--text);
}
