@import "tailwindcss";

:root {
  --primary: #4f46e5;
  --secundary: #7c3aed;
  --surface: #efefef;
  --background: #f8fafc;
  --surface-two: #444444;
  --surface-three: #ddd;
  --surface-four: #f1f5f9;
  --text: #000;
  --low-priority: #4ade80;
  --medium-priority: #f59e0b;
  --high-priority: #f43f5e;
}

.dark {
  --primary: #6366f1;
  --surface: #1e293b;
  --surface-two: #334155;
  --surface-three: #020617;
  --surface-four: #4b556b;
  --background: #0f172a;
  --text: #fff;
  --text-secundary: #94a3b8;
  --low-priority: #4ade80;
  --medium-priority: #f59e0b;
  --high-priority: #f43f5e;
}

body {
  background: var(--background);
  color: var(--text);
}
